@use '../../variables' as v;
@use 'sass:color';

.left,
.right {
  display: flex;
  background-color: v.$color-button;
  border-radius: 100%;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  justify-content: center;
  align-items: center;
  border: 0;

  &:hover {
    background-color: color.adjust(v.$color-button, $lightness: -10%);
  }
}

.right {
  transform: rotate(180deg);
}
