.page {
  --background: #e3e3e3;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 600px;
  align-items: center;
  padding: 60px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 20 0;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
}

.hidden {
  display: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
