@use '../../variables' as v;
@use 'sass:color';
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px;

  input,
  button {
    font-size: 20px;
    height: 60px;
    border: 0px;
    border-radius: 30px;
    padding: 0 20px;

    &:hover {
      background-color: color.adjust(v.$color-button, $lightness: -10%);
    }
  }

  button {
    background-color: v.$color-button;
  }
}
